* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #0f172a;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

#projects_container {
    width: 60%;
    margin: 0 auto;
    padding-top: 5%; /* Adjust padding as needed */
    padding-bottom: 20px;
    background-color: #0f172a;
}

h1 {
    font-size: 2.5rem;
    color: #ffffff;
    text-align: left;
}

.back-link {
    display: flex;
    align-items: center;
    font-size: 1.2rem; /* Adjust the font size as needed */
    color: #89CFF0;
    text-decoration: none;
    margin-bottom: 20px;
}

.back-link img {
    width: 20px; /* Set the width of the back arrow */
    height: auto; /* Keep the aspect ratio */
    margin-right: 10px; /* Space between the arrow and text */
}

.back-link:hover {
    text-decoration: underline;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Fixes the layout to ensure consistent column widths */
    margin-bottom: 4em;
}

th, td {
    text-align: left;
    padding: 10px 15px; /* Consistent padding for alignment */
    border-bottom: 1px solid #6ACFC7;
}

th {
    font-size: 1rem;
    color: #89CFF0;
    border-bottom: 2px solid #6ACFC7;
    text-align: left; /* Ensures header text aligns to the left */
}

td {
    font-size: 1rem;
    color: #cccccc;
    text-align: left;
}

/* Specific column width adjustments */
th:nth-child(1), td:nth-child(1) { /* Year */
    width: 10%; /* Fixed width for year */
}

th:nth-child(2), td:nth-child(2) { /* Certification/Project */
    width: 40%; /* Fixed width for certification/project */
}

th:nth-child(3), td:nth-child(3) { /* Status/Made at */
    width: 20%; /* Adjusted width for status/institution */
}

th:nth-child(4), td:nth-child(4) { /* Link */
    width: 20%; /* Reduced width for link */
}

/* Row hover effect */
tbody tr:hover {
    background-color: #1f2a44;
    transition: background-color 0.3s ease;
}

/* Remove underline from links and set color */
td a {
    color: #89CFF0;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

td {
    padding: 15px 10px;
    font-size: 1rem;
}

a {
    color: #89CFF0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
