* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    background-color: #0f172a;
    color: #6ACFC7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#main_container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 62%;
    overflow-y: scroll;
    overflow: hidden;
}

.split_container {
    width: 50%;
    padding: 20px;
}

#bio_section{
    margin-top: 4vh;
}


a {
    text-decoration: none;
    color: #ffffff;
}

footer{
    background-color: #0e1629;
}

#split_container_1 {
    position: sticky; 
    top: 0; 
    height: 100vh; 
    padding: 40px;
    background-color: #0f172a; 
    color: #FFFF; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#split_container_2 {
    padding: 40px;
    background-color: #0f172a;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#experience_container_last {
    content: '→';
    font-size: 1em;
    margin-left: 8px;
    display: inline-block;
}

#project_container_last {
    display: inline-block;
}

#title_container h1 {
    display: inline-block;
}

h1 {
    font-family: s;
    font-weight: 600;
    font-style: normal;
    color: #ffff;
}

#name {
    font-size: 3rem; 
    margin-bottom: 0; /* Remove bottom margin */
    padding-bottom: 0; /* Ensure no padding on the bottom */
    line-height: 0; /* Adjust line-height if needed */
}

#title {
    font-family: s;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;   
}

#short_intro_container{
    width: 75%;
}
#short_intro {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.1rem;   
}
  
h3 {
    font-size: 1rem;   
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    color: #cccccc;
}

h4 {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "IBM Plex Sans", sans-serif;
    color: #cccccc;
}

p {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 1em;
    margin-bottom: 20px;
    color: #cccccc;
}
.experience_container p,
.project_container p {
    font-size: 0.9em;
}


nav ul {
    list-style: none;
    margin-bottom: 20px;
}

nav ul li a {
    margin-bottom: 10px;
    cursor: pointer;
    color: #ffffff;
    position: relative;
    text-decoration: none; 
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.5rem;   
    display: inline-block;
    padding-left: 40px; /* Space between the line and the text */
    transition: padding-left 0.3s ease-in-out; /* Smooth transition for text movement */
}

nav ul li a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%; /* Keep the line horizontally centered relative to the text */
    transform: translateY(-50%);
    height: 2px; /* Height of the horizontal line */
    width: 15px; /* New starting line length */
    background-color: #ffffff;
    transition: width 0.3s ease-in-out;
}

nav ul li.active a {
    padding-left: 55px; /* Adjusted to move the text further right when active */
}

nav ul li.active a::before {
    width: 45px; /* Extended line length */
}

.section_header_container {
    background-color: #0e1629;
}

section{
    margin-bottom: 13vh;
}
.project_container{
    padding:0.5em;
}

.experience_container{
    padding:0.5em;
}

.experience_container:hover{
    border-radius: 0.25em;
    box-shadow: rgba(58, 58, 58, 0.9) 0px 0px 0px 2px,   /* Much darker outer border */
    rgb(39, 39, 39) 0px 4px 6px -1px,    /* Solid black drop shadow */
    rgba(170, 170, 170, 0.4) 0px 1px 0px inset;
}
.project_container:hover{
    border-radius: 0.25em;
    box-shadow: rgba(58, 58, 58, 0.9) 0px 0px 0px 2px,   /* Much darker outer border */
    rgb(39, 39, 39) 0px 4px 6px -1px,    /* Solid black drop shadow */
    rgba(170, 170, 170, 0.4) 0px 1px 0px inset;
}

.experience_container:hover h4{
    color: #6ACFC7;
}
.project_container:hover h4{
    color: #6ACFC7;
}

.experience_container:hover h5{
    color: #ffffff;
}
.project_container:hover h5{
    color: #ffffff;
}

h5{
    color: #cccccc;
}

.ex_inner_container{
    display: flex;
}

.pr_inner_container{
    display: flex;

}

.ex_inner_container_date,
.pr_inner_container_img{
    width: 25%;
}

.ex_inner_container_bio{
    width: 70%;
}


/* CSS for fading effect on hover */
.section_container:hover .container {
    opacity: 0.5; /* Reduce opacity of all containers */
    transition: opacity 0.1s ease-in-out; /* Smooth transition */
}

.section_container .container:hover {
    opacity: 1; /* Keep hovered container at full opacity */
    transition: opacity 0.1s ease-in-out; /* Smooth transition */
}

/* Apply specifically to experience containers */
#experience_section:hover .experience_container {
    opacity: 0.5;
    transition: opacity 0.1s ease-in-out;
}

#experience_section .experience_container:hover {
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}

/* Apply specifically to project containers */
#projects_section:hover .project_container {
    opacity: 0.5;
    transition: opacity 0.1s ease-in-out;
}

#projects_section .project_container:hover {
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}

#image_container {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

#profile_photo {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #cccccc;
}

footer {
    background-color: #0e1629;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    border-top: 2px solid #6ACFC7;
    margin-top: 40px;
}

.footer-content p {
    margin: 5px 0;
}

.footer-link {
    color: #ffffff; /* Change link color to white */
    text-decoration: none; /* Remove underline */
    margin: 0 5px;
}

.footer-link:hover {
    color: #89CFF0; /* Optional: Change color on hover */
    text-decoration: none; /* Ensure no underline on hover */
}

footer strong {
    color: #ffffff;
}

#social_links {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.3s ease;
    width: 100%; 
}

#social_links:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
    background: linear-gradient(to right, rgba(30, 30, 30, 0.2) 0%, rgba(30, 30, 30, 0.2) 80%, rgba(30, 30, 30, 0.8) 100%);

}

#social_links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1em;
    color: #FFFF;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#social_links a:hover {
    background-color: #0A1F44;
    color: #89CFF0;
}

#social_links img.social-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    padding: 0;
    border: none;
}

.buttons {
    margin-bottom: 15px;
}

.buttons a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 1em;
    text-align: center;
    color: #cccccc;
}

.buttons a:hover {
    background-color: #89CFF0;
    color: #0A1F44;
}

@media (max-width: 1260px) {
    body {
        width: 100%;
    }

    #main_container{
        width: 100%;
    }

    #name {
        font-size: 3rem; 
        margin-bottom: 0; /* Remove bottom margin */
        padding-bottom: 0; /* Ensure no padding on the bottom */
        line-height: 0; /* Adjust line-height if needed */
    }
}

@media (max-width: 768px) {
    #main_container {
        margin-top: 2em;
        flex-direction: column;
        width: 100%;
        height: auto; /* Allow the main container to grow with its content */
        overflow-y: visible; /* Ensure the main container does not limit the height */
    }

    .split_container {
        width: 100%;
        margin-bottom: 20px;
        height: auto; /* Allow each container to grow based on its content */
    }

    #split_container_1 {
        position: relative; /* Remove sticky positioning */
        height: auto; /* Allow it to grow to fit its content */
        overflow-y: visible; /* Ensure the content is fully visible */
        padding: 20px;
        background-color: #0f172a;
        color: #FFFF;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Align items to the start */
    }

    #split_container_2 {
        padding: 20px;
        background-color: #0f172a;
        overflow-y: visible; /* Ensure the content is fully visible */
        height: auto; /* Allow it to grow based on its content */
    }

    body, html {
        height: auto;
        overflow-y: scroll; /* Enable scrolling on the whole page */
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

    nav ul li {
        font-size: 1em;
    }

    .buttons a {
        width: 100%;
        margin-bottom: 10px;
    }
}
